.icon-container{
    display:flex;
    align-items: center;
    width:155px;
    margin:auto;
}
footer{
    background-color:#455A64;
    color:white;
}
footer .mat-icon{
    font-size:40px;
    width:40px;
    cursor:pointer;
}
.name-container{
    position: relative;
    min-height:100px;
    font-size:40px;
    min-width:200px;
}
.name{
    color:#26A69A;
    font-weight:500;
    z-index: 2;
    position: relative;
}

#motto{
    font-size: 35px;
    color:transparent;
    font-family: 'Sriracha', cursive;
    color:#455A64;
}
.motto-box {
    background-color:white;
    position: absolute;
    left:13%;
    top:25px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
    padding-left: 5px;
    padding-right: 5px;
    width:400px;
    border:1px solid #263238;
}
.footer-container{
    width:400;
    text-align: center;
    display: flex;
    justify-content: center;
}
a{
    cursor:pointer;
}
.footer-titles{
    color:#a4b1b8;
    font-weight:bold;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 5px;
}
.outlined {
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}