<mat-drawer-container>
  <mat-drawer #faqContainer [mode]="'over'" class="drawer" position="end">
    <app-faq></app-faq>
    <button mat-raised-button color="primary" class="mb-3 ml-3" (click)="faqContainer.toggle()">Close</button>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <div class="container-fluid p-0">
        <div class="text-container">
          <p>We build software to meet your business needs. You dream it, we build it. By putting our best effort behind each product, we
            can assure you a knockout application. With the ability to adapt to any technology, we can make your ideas come to life, using the best tools for the job.
          </p>
          <p>Nowadays there are many free frameworks available to make awesome applications, such as Angular or React. Created and supported by big players Google and Facebook, respectively, these
            frameworks allow for resuable components, easy HTTP requests and fast performance. Combine one with a server language like PHP, Node.js, or Python and we can
            solve any type of problem. Or for bigger projects, if possible licensing fees is not an issue, Microsoft .NET and Java can be used for enterprise grade applications. The bottom
            line is that any technology you want to use, we can adapt to.
          </p>
          <p>
            Just want to supply the vision and not the technology specs? No problem, leave it to us and we will use the best
            tools available. Full applications, application updates or small tools, we can supply whatever is needed, big or small.
          </p>
        </div>
      </div>
      <div class="centered">
        <button mat-raised-button color="primary" (click)="faqContainer.toggle()">FAQ</button>
        <button mat-raised-button color="primary" class="ml-2" (click)="toggleContact()">Request Solution</button>
      </div>

      <section class="container text-center p-3 pb-4" style="width:100%; position: relative;">
        <div class="row pt-3">
          <div class="col-12 col-md-6">
            <h3>Services</h3>
            <h4 class="mt-4 text-left"><u>Some</u> of the business solutions we can design and implement:</h4>
            <ul class="text-left" role="list">
              <li role="listitem">
                Responsive Multi Platform Web Apps
              </li>
              <li role="listitem">
                Native Applications
              </li>
              <li role="listitem">
                Content Management Systems
              </li>
              <li role="listitem">
                Progressive Web Applications
              </li>
              <li role="listitem">
                Service Based Backends
              </li>
              <li role="listitem">
                REST APIs
              </li>
              <li role="listitem">
                Native Applications (iOS or Android)
              </li>
              <li role="listitem">
                Databases (SQL and NoSQL)
              </li>
              <li role="listitem">
                Authentication Systems (Sessions/Tokens)
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h3>Specializations</h3>
            <mat-icon class="stars">grade</mat-icon>
            <mat-icon class="stars">grade</mat-icon>
            <mat-icon class="stars">grade</mat-icon>
            <mat-icon class="stars">grade</mat-icon>
            <mat-icon class="stars">grade</mat-icon>
            
            <ul class="list-unstyled" role="list">
              <li role="listitem">
                Angular
              </li>
              <li role="listitem">
                C# - (ASP.NET)
              </li>
              <li role="listitem">
                Java - (Spring Boot)
              </li>
              <li role="listitem">
                PHP - Slim/Laravel or custom framework
              </li>
              <li role="listitem">
                MySQL/PostgreSQL
              </li>
            </ul>
            <aside class="noteBox">
              <p>These are just the technologies we use most often as well as our recommendations for most web applications. 
                We can adapt to and have used many other languages/frameworks. For example we could substitue Angular for Vue for client side.</p>
            </aside>
          </div>
        </div>
      </section>

      <br>
    </div>
  


  </mat-drawer-content>
</mat-drawer-container>
  
  
  