<div class="container-fluid outerContainer">
    <div class="container-fluid p-5 mat-typography" style="background-color:white; min-height:100vh;">
      <h2>Knockout Applications</h2>
        <p>With a focus on elegant, secure, mobile responsive applications, we have helped businesses expand their customer base and simplify their processes.</p>
        <p>Using any technology prefered, we can build solutions to attract new customers or enhance business processes. Offering full stack development, we can provide any
          application needed and provide the latest technology options to create it. Multi Page Applications, Single Page Applications, Progressive Web Applications, or Native Applications,
          however you want to interact with your customers or manage your services we can help build the tools to make it happen.
        </p>
        <p>While very adaptive to different tools/languages we have found a combination of Angular and PHP to be amongst the most robust and dependable technologies for building Web Applications or Progressive Web Applications, and as such
          recommend these technologies.
        </p>
        <p>
          <a rel="noopener" target="_blank" href="https://github.com/HaymakerCoding">
            <img src="/assets/icons/GitHub-Mark-32px.png" class="third-party-icons" alt="Haymaker Coding on GitHub">
            Check out some of our projects on GitHub.
          </a>
        </p>
        <p>Here are some of our live projects as well as usable demo versions:</p>
  
        <div class="row">
          <div class="col-12">
            <div class="headers">
              <h3 class="text-center">Customer Focused Applications</h3>
            </div>
            <mat-tab-group>
              <!--CITY MATCH PLAY-->
              <mat-tab label="City Match Play">
                <div class="row tabRows">
                  <div class="col-12 col-md-6 mt-2">
                    <img class="porfolioImgs" src="../assets/citymatchplay.jpg" (click)="navigate('https://citymatchplay.golf')" alt="City Match Play Championship">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3 class="mt-2 mb-2 text-center text-md-left"><a target="_blank" rel="noreferrer noopener" href="https://citymatchplay.golf">City Match Play Championship</a></h3>
                    <p>City Match Play Championship is one of ClubEG's many tournaments. This application is more than it seems! It is actually an Angular built SPA that 
                      works as a template and content management system for the company. We built it as single app that can be the point of entry for any number of tournament domains they setup.
                      This allows them to then use an accompanying admin application to supply content specific to each tournament. Allowing them to upload and crop pictures, supply content for sections and manager registrations.
                      In this way they can build out as many tournaments as they would like using just one application that handles the formating and presentation as well as functions for login and registering.
                    </p>
                  </div>
                </div>
              </mat-tab>
              <!--CLUBEG TAB-->
              <mat-tab label="ClubEG">
                <div class="row tabRows">
                  <div class="col-12 col-md-6">
                    <img class="porfolioImgs" src="../assets/clubeg.jpg" (click)="navigate('https://clubeg.golf')" alt="ClubEG">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3 class="mt-2 mb-2 text-center text-md-left"><a target="_blank" rel="noreferrer noopener" href="https://clubeg.golf">ClubEG</a></h3>
                    <p>ClubEG is a fantastic membership based golfing service, offering social and competitive events for their members, as well as discounts at
                      many courses.
                      <p>This golfing web site has functionality for members to login and register for upcomming events and trips. Built using a traditional combination of PHP for the server side and plain JavaScript/JQuery for the client and Bootstrap 4 for responsive design and style.
                      A key to this site was adding content management so administrators can add pages themselves with little programming knowledge. This is demostrated with
                      a custom dynamic course page template that can be used to make an number of beautiful course pages.</p>
                  </div>
                </div>
              </mat-tab>
              <!--The Slammer Tour-->
              <mat-tab label="Slammer Tour">
                <div class="row tabRows">
                  <div class="col-12 col-md-6">
                    <img class="porfolioImgs" src="../assets/slammer.jpg" (click)="navigate('https://new.slammertour.com')" alt="Slammer Tour">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3 class="mt-2 mb-2 text-center text-md-left"><a target="_blank" rel="noreferrer noopener" href="https://new.slammertour.com">The Slammer Tour</a></h3>
                    <p>The Slammer Tour is a popular golf league with many members, offering great play for all competition preferences.
                      There is a lot going on with this site, as members can register for events, view stats, profiles and results and coordinators can manage
                      events and scoring.
                    </p>
                    <p>
                      A key part of this project was a complex scoring system. Many algorithums are used to calculate different scenarios for players
                      to earn points, based on their performance in their group, as well as overall. This site is an overhaul of an older version. We
                      were able to successfully update many of the features to be mobile responsive as well as add new features such as scoring and image uploading.
                      Included in the refresh was updating the database services and PHP version.
                    </p>
                  </div>
                </div>
              </mat-tab>
              <!--Course DB-->
              <mat-tab label="CourseDB">
                <div class="row tabRows">
                  <div class="col-12 col-md-6">
                    <img class="porfolioImgs" src="../assets/coursedb.jpg" (click)="navigate('https://coursedb.golf')" alt="CourseDB.golf">
                  </div>
                  <div class="col-12 col-md-6">
                    <h3 class="mt-2 mb-2 text-center text-md-left"><a target="_blank" rel="noreferrer noopener" href="https://coursedb.golf/">CourseDB</a></h3>
                    <p>This site is mainly for course manager's of various golf courses to supply information about their course and create
                      course listings using our custom content management system. Courses in the database can be assigned to their respective manager's, who
                      can then create a basic, standard or premium listing.
                    </p>
                    <p>This site is built using the modern JavaScript framework Angular, consuming data from a custom build PHP api. This allows clear seperation
                      between the client side and the server side and allows reusing the api end points anywhere. Keys to this development are 
                      the token based authentication system as well as a great UI for setting up courses. The UI allows secure uploading of
                      data and pictures, with a very sleek cropping tool for the images so they conform to the template. Also included is a review system for visitors.
                    </p>
                  </div>
                </div>
              </mat-tab>
  
            </mat-tab-group>
  
          </div>
          <div class="col-12" #demoSection>
            <br>
            <div class="headers">
              <h3 class="text-center">Administrative Applications [Demo Versions]</h3>
            </div>
            <br>
            <section class="demo-section">
              <p>These application can be accessed by logging in with the default user '<b>admin</b>' and password '<b>haymaker</b>'</p>
              <p>Use them as you would like, these are meant to demo a possible system we can build for you, with authentication and data management and customized to your business needs.</p>
              <p>All demos utilize a server API and database, so demo a full stack solution.</p>
              <a rel="noopener" target="_blank" href="https://demo-golf-coordinator.haymakercoding.com/">
                <div class="demo-list-item mat-elevation-z2">
                  Golf Trip Coordinator App
                </div>
              </a>
              <mat-list class="ml-5">
                <mat-list-item>
                  <a rel="noopener" target="_blank" href="https://github.com/HaymakerCoding/golf-coordinator-demo">
                    Git Hub Repository
                  </a>
                </mat-list-item>
                <mat-list-item>
                  <button (click)="showDatabaseDialog(databaseDialog)" mat-raised-button color="primary">Database Models</button>
                </mat-list-item>
              </mat-list>
              <hr>
            </section>
          </div>
        </div>
  
    </div>
  
  </div>

  <ng-template #databaseDialog>
    <h3 mat-dialog-title>Golf Trip Database Models</h3>
    <mat-dialog-content>
      <mat-tab-group>
        <mat-tab label="Logical">
          TODO
        </mat-tab>
        <mat-tab label="Physical">
          TODO
        </mat-tab>
      </mat-tab-group>

    </mat-dialog-content>
  </ng-template>
  
  