<div class="games-container">

    <div class="container pt-4 pb-4">
  
      <h3>Knockout Games</h3>
      <p>These games are made to be played in a browser and on mobile devices. Cost will be low to none as we simply build games for fun and to showcase 
        what we can do as developers. Game development is actually a good test
        of programming best practices. The development of a game requires a very well organized code base and is quite suited to
        object orientated programming. From abstracting your game objects, controlling states, and building game physics, game design can be complex. Staying
        organized while using best practices is essential to not being overwhelmed by the scope a game can grow to.
      </p>
  
      <div class="row list-container mt-5">
        <div class="col-12 col-lg-4 list-columns">
          <mat-card class="game-cards">
            <mat-card-header>
              <span style="position: absolute; top:2px; left:2px; font-size:12px;"><i>In Development</i></span>
              <mat-card-title id="corpoTitle">Corporate Takeover</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-img-container">
                <div>Image coming soon</div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button color="primary" mat-raised-button (click)="showGameInfo(1)">View Details</button>
              <button  class="ml-2" mat-raised-button disabled>PLAY</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-12 col-lg-4 list-columns">
          <mat-card class="game-cards">
            <mat-card-header>
              <span style="position: absolute; top:2px; left:2px; font-size:12px;"><i>In Development</i></span>
              <mat-card-title>Beastly Beatdown</mat-card-title>
            </mat-card-header> 
            <mat-card-content>
              <div class="card-img-container">
                <div>Image coming soon</div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button color="primary" mat-raised-button (click)="showGameInfo(0)">Vew Details</button>
              <button class="ml-2" mat-raised-button disabled>PLAY</button>
            </mat-card-actions>
          </mat-card>
        </div>
        
        <div class="col-12 col-lg-4 list-columns">
          <mat-card class="game-cards">
            <mat-card-header>
              <span style="position: absolute; top:2px; left:2px; font-size:12px;"><i>In Development</i></span>
              <mat-card-title id="sunTitle">When the Sun Goes Down</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-img-container">
                <div>Image coming soon</div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button color="primary" mat-raised-button (click)="showGameInfo(2)">View Details</button>
              <button class="ml-2" mat-raised-button disabled>PLAY</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <hr>
  
    </div>
  
  </div>
  